---
import Nav from "../components/Nav.astro";
import WaitlistForm from "../components/WaitlistForm.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>MergeTree</title>
  </head>
  <body class="min-h-screen min-w-screen">
    <div class="h-screen text-center grid justify-center hero">
      <Nav />
      <div class="-mt-20">
        <h1 class="text-6xl font-bold">
          The <span class="text-primary/75">next generation</span> of CI/CD
        </h1>
        <p class="mt-8 text-2xl font-light">
          Manage and visualise your pipelines to deploy quicker with MergeTree
        </p>
        <WaitlistForm />
      </div>
    </div>
  </body>
</html>

<style>
  .hero {
    background-image: url("/bg.png");
    background-repeat: no-repeat;
    background-position: right;
  }
</style>
